.heading-tree-x {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* HEADING */
h1 {
  font-size: 1.2rem;
  line-height: 1.4rem;
}
